.details-btn {
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;   
}

.details-btn .btn-1 {
    max-height: 30px;
    cursor: pointer;
}

.details-btn .btn-2 {
    max-height: 35px;
    cursor: pointer;
}
.details-div {
    padding: 0 20px 0 10px;
}
.details-div p {
    margin-top: 0;
}