.shop-container {
    padding: 0 10px 40px 40px;
    margin: 0 40px 10px 40px;
    display: flex;
    /* background-color: #f7f7f7; */
    z-index: 5;
}
.product-container {
    width: 80%;
    border-right: 1px solid lightslategray;
}

.cart-container {
    width: 20%;
    padding: 10px 30px;
}

.product-component-next20 {
    margin-top: 20px;
}